# 允许 sharp 和 esbuild 运行构建脚本
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*esbuild*
# 允许 sharp 和 esbuild 运行构建脚本
public-hoist-pattern[]=*@swc/core*
public-hoist-pattern[]=*worked*
public-hoist-pattern[]=*es5-ext*
